/* .auctions-container{
    border: 1px solid white;
    

} */

.auction-caption{
    margin: 80px 0 20px 0;
    display: flex;
    transform: rotate(-4deg);
}

.auction-text{
    color: #ffffff;
    width: 50%;
    margin: 10px;
}

.auction-text h2{
    margin: 3px 30px;
}

.auction-button{
    width: 50%;
    display: flex;
    justify-content: end; 
}

.auction-button button{
    width: 8rem;
    height: 60px;
    font-weight: 500;
    font-size: 22px;
    border-radius: 5px;
    background: #190935;
    border-color: #80ffdb;
    color: #ffffff;
    margin: 3px 30px;
    
}



.auction-img1{
    display: flex;
    margin: 20px auto;
    transform: rotate(-5deg);
    
}

.auction-img2{
    display: flex;
    margin: 20px auto;
    transform: rotate(-5deg);
    
}

.img1,
.img2,
.img3,
.img4,
.img5{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    margin: 10px;
   
}

@keyframes slidein {
    100% { left: 0;}
}