.footer-container {
  background: #1b112e;
}

.footer-wrapper {
  width: 95%;
  margin: 20px auto;
  padding-top: 50px;
  border-bottom: 1px solid white;
}

.search-info {
  display: flex;
  margin: 20px;
}

.search,
.quick-links {
  width: 50%;
  padding: 30px;
  color: #ffffff;
  /* border: 1px solid white; */
}

.search-bar input {
  width: 50%;
  height: 35px;
  background: #310333;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #0f0a1a;
}

.search-bar button {
  font-size: 16px;
  height: 35px;
  padding: 0 15px;
  background: #310333;
  color: #aaa8a8;
  border: 1px solid #0f0a1a;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-section h2 {
  margin-left: 5px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.quick-links ul {
  list-style-type: none;
}

.quick-links li {
  padding: 5px;
  margin: 2px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.quick-links h5 {
  margin-left: 15px;
  padding-left: 15px;
}

.copyright-section {
  display: flex;
  width: 95%;
  margin: auto;
  color: #ffffff;
}

.copyright {
  width: 50%;
  padding: 0 10px;
  font-size: 12px;
}

.social-links {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.social-links span {
  margin-right: 5px;
}

