.header-container {
  display: flex;
  padding-bottom: 100px;
  width: 100%;
  background: radial-gradient(
    450px 450px at 70% center,
    #975BE3, #170b2d
  );

  /* border: 1px solid white; */
  margin-bottom: 80px;
  
  
}

.left-box,
.right-box {
  width: 50%;
  margin: 10px;
}

.text-section {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 74px;
  padding: 20px;
  letter-spacing: -1px;
  color: #ffffff;
}

.button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 28px;
  gap: 10px;
}

.btn-explore,
.btn-create {
  width: 8rem;
  height: 60px;
  font-weight: 400;
  font-size: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background: #80ffdb;
}

.btn-create {
  background: #170b2d;
  border-color: #80ffdb;
  color: #ffffff;
}

.nfts-total {
  margin: 25px;
  color: #b9b7b7;
}

.social-media span {
  margin-right: 15px;
  padding: 10px;
  width: 50px;
  height:50px;
  font-size: 40px;
  color:#00acee;
}

.img-section { 
  width: 453px;
  height:655px;
  margin: 30px auto;
  padding: 10px;
  align-items: center;
  color: #ffffff;
  background: #190935;
  box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.1);
}

.img-container {
  width: 400px;
  height: 400px;
  margin: 10px auto;  
}

.img-container img{
  width: 370px;
  height: 370px;
  border: 10px solid #ffffff;
}

.img-text{
  /* border: 1px solid white;  */
  padding: 2px 25px;
}

.img-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.info-views {
  font-size: 25px;
  display: flex;
  margin: 10px auto;
  padding: 5px;
  width: 400px;
}

.rx-eye{
  width:50%;
  display: flex;
  color: #b9b7b7;
}

.rx-eye span{
font-size: 16px;
}

.si-vue{
  width: 50%;
  display: flex;
  justify-content: end;
  color: #b9b7b7;
}

.si-vue span{
  font-size: 16px;
}

.nav-section{
  /* border: 1px solid white; */
  width: 70%;
  margin: auto;
  display: flex;
  padding: 10px;
  justify-content: end;
}

.right-arrow, .left-arrow{
  margin: 5px 30px;
}







