.hottestbids-container {
  color: #ffffff;
  margin-top: 250px;
}

.info-title {
  display: flex;
}

.info-text {
  color: #ffffff;
  width: 50%;
  margin: 10px;
  display: flex;
}

.info-text h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 74px;
}

.hottestbids {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  padding: 8px;
}

.hottestbids-wrap {
  width: 45%;
  margin: 10px;
  padding: 20px;
  display: flex;
  box-shadow: 0px 5px 4px 5px rgba(0, 0, 0, 0.1);
}

.left-items1,
.left-items2,
.right-items1,
.right-items2 {
  display: flex;
  width: 50%;
  margin: 0 0 0 5px;
}

.left-items2,
.right-items2 {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 18px;
}

.flem-icon {
  margin-right: 10px;
  font-size: 40px;
  color: #fcd170;
}
.info-text,
.info-timer {
  width: 50%;
  padding: 20px;
 
}

.bit-text p {
  padding-right: 4px;
}

.info-timer {
  display: flex;
  justify-content: end;
  align-items: center;
  
}

.info-timer label {
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #692ADC;
}

.info-timer label > span {
  font-size: 18px;
  margin: 0 10px;
  align-items: center;
  padding: 8px 25px;
  border-radius: 10px;
}

#day1 {
  background: rgb(34, 34, 90);
}

.btn-hottest {
  display: flex;
  justify-content: center;
  margin: 80px 10px;
  padding: 20px;
}

.btn-hottest button {
  font-size: 18px;
  padding: 10px;
  width: 10%;
  height: 60px;
  font-weight: 700;
  background: #04caa9;
  border-radius: 5px;
  cursor: pointer;
}
