/* .trending-container{
    border: 1px solid #ffffff;
} */

.trend-caption{
    /* border: 1px solid white; */
    margin: 80px 0 20px 0;
    display: flex;
    transform: rotate(-4deg);
}

.trend-text{
    color: #ffffff;
    width: 50%;
    margin: 10px;
    /* border: 1px solid white; */    
}

.trend-text h2{
    margin: 3px 30px;
}

.trend-button{
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: end;
    
}

.trend-button button{
 width: 8rem;
  height: 60px;
  font-weight: 500;
  font-size: 22px;
  border-radius: 5px;
  background: #190935;
  border-color: #80ffdb;
  color: #ffffff;
  margin: 3px 30px;
  
}

.trend-img1{
    display: flex;
    /* justify-content: center; */
    margin: auto;
    transform: rotate(-5deg);
    /* border: 1px solid white; */
}

.trend-img2{
    display: flex;
    margin: 20px auto;
    transform: rotate(-5deg);
    /* border: 1px solid white; */

}

.img1,
.img2,
.img3,
.img4,
.img5{
    width: 379px;
    height: 272px;
    /* border: 1px solid white; */
    margin: 10px;
    /* transform: rotate(-4deg); */

   
}

.slide-left{
    animation-name: slideleft;
    animation-duration: 6s;
}

.slide-right{
    animation-name: slideright;
    animation-duration: 6s;
}

@keyframes slideleft {
    0%{
        margin-left: 20%;
        /* width: 90%; */
    }
    100%{
        margin-left: 0%;
        /* width: 100%; */
    }
}

@keyframes slideright{
    0%{
        margin-left: -20% ;
    }
    100%{
        margin-left: 0%;
    }
}